<html>

<head>
    <meta name="google-signin-client_id"
        content="222832459621-8nkohpmhul7pgnllsi4srfvao4801p36.apps.googleusercontent.com">


    <script src="https://apis.google.com/js/platform.js" async defer></script>

<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 15%;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}


/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
}


</style>

</head>

<body>
    <form method="POST" action="/login" id="login">
        {{ .Reason }}
        {{ .Status }}
        <hr>
        Email <br>
		<input type="text" id="email" name="email" required />
		<br>
        Password 
		<br>
		<input type="password" id="password" name="password" required />
		<br>
        <button type="submit" value="submit">Sign Up</button>
		<br> OR
		<br>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <hr>
        <button type="button" value="submit" onclick="gotoForgotPasword()">forgot password ?</button>
        <input type="hidden" id="name" name="name" value="" />
    </form>
</body>
<script>
    function onSignIn(googleUser) {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });

        var profile = googleUser.getBasicProfile();
        console.log('Name: ' + profile.getName());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        document.getElementById("email").value = profile.getEmail();
        document.getElementById("name").value = profile.getName();
        setCookie('email',profile.getEmail(),60)
        form = document.getElementById("login");
        form.target = '';
        form.action = 'googleLogin';
        form.submit();
    }
    function gotoForgotPasword() {
        form = document.getElementById("login");
        form.target = '';
        form.action = 'sendPassword';
        form.submit();
    }
    function setCookie(cname, cvalue, exMins) {
        var d = new Date();
        d.setTime(d.getTime() + (exMins*60*1000));
        var expires = "expires="+d.toUTCString();  
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    };

</script>

</html>