<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}


/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
}

</style>

</head>
<body>

    <body>
        <h1>Fill Information</h1>
        <hr>
        <form method="POST" action="/userRagistration">
            <input type="hidden" id="key" name="key" value="{{.Key}}" />
            Name <input type="text" id="fullName" name="fullName" value="{{.FullName}}" required/>
            <br>
            Address <input type="text" id="address" name="address" value="{{.Address}}" required>
            <br>
            Telephone <input type="text" id="telephone" name="telephone" value="{{.Telephone}}" required>
            <br>
            <button type="submit" value="submit">Submit</button>

        </form>
    </body>

</body>

</html>