<!DOCTYPE html>
<html>

    <head>
        <meta name="google-signin-client_id" content="222832459621-8nkohpmhul7pgnllsi4srfvao4801p36.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=submit] input[type=button] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}


/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
}

</style>

    </head>
    
<body>

    <body>
	     <div align="right">
                <button type="button" value="logout" id="logout" onclick="logout()">Log out</button>     
        </div>
        <h1>Profile Page</h1>

        <form method="POST" action="/updateUser" id="userDetail">
            {{ .Response.Status }}
            {{ .Response.Reason }}
            <hr>
            <input type="hidden" id="key" name="key" value="{{.User.Key}}" />
            Name <input type="text" id="fullName" name="fullName" value="{{ .User.FullName}}" readonly />
            <hr>
            Address <input type="text" id="address" name="address" value="{{ .User.Address}}" readonly>
            <hr>
            Telephone <input type="text" id="telephone" name="telephone" value="{{ .User.Telephone}}" readonly>
            <hr>
            Email <input type="text" id="email" name="email" value="{{ .User.Email}}" readonly>
            <hr>
            <button type="submit" value="submit" id="save" disabled="true"> Save </button>
            <button type="button" value="Edit" id="edit">Edit </button>
        </form>
    </body>

</body>
<script>
    document.getElementById('edit').onclick = function () {
        document.getElementById('fullName').readOnly = false;
        document.getElementById('address').readOnly = false;
        document.getElementById('telephone').readOnly = false;
        document.getElementById('email').readOnly = false;
        document.getElementById('save').disabled = false;
    };
    function logout() {
        setCookie('key','',0)
        setCookie('email','',0)
        form = document.getElementById("userDetail");
        form.target = '';
        form.action = '/';
        form.submit(); 
    };
    function setCookie(cname, cvalue, exMins) {
        var d = new Date();
        d.setTime(d.getTime() + (exMins*60*1000));
        var expires = "expires="+d.toUTCString();  
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    };
    function checkKey() {
        var key = getCookie("key");

    if(!(key != "")) {
        form = document.getElementById("userDetail");
        form.target = '';
        form.action = '/';
        form.submit(); 
    }
    };
    function getCookie(name) {
    // Split cookie string and get all individual name=value pairs in an array
    var cookieArr = document.cookie.split(";");
    
    // Loop through the array elements
    for(var i = 0; i < cookieArr.length; i++) {
        var cookiePair = cookieArr[i].split("=");
        
        /* Removing whitespace at the beginning of the cookie name
        and compare it with the given string */
        if(name == cookiePair[0].trim()) {
            // Decode the cookie value and return
            return decodeURIComponent(cookiePair[1]);
        }
    }
    
    // Return null if not found
    return null;
};
window.onpopstate = function() {
   
}; history.pushState({}, '');
</script>

</html>