<!DOCTYPE html>
<html>

<head>
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}


/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
}


</style>

</head>

<body>
    <form method="POST" id="reset">
        {{ .Response.Status }}
        {{ .Response.Reason }}
        <hr>
        <input type="hidden" id="key" name="key" value="{{.User.Key}}" />
        Password <br>
		<input type="password" id="password" name="password" required /><br>
       Confirm Password  <br>
	   <input type="password" id="cpassword" name="cpassword" required /><br>
        <button type="submit" value="submit" onclick="validate()">Reset Password</button>
    </form>
    
    <script>
         function validate() {
             
        var p1 = document.getElementById("password").value;
        var p2 = document.getElementById("cpassword").value;
        if (!(p1 === p2)){
            alert('password should be same');
            return
        }else{
        form = document.getElementById("reset");
        form.target = '';
        form.action = 'resetPassword';
        form.submit();
        }
    }
    </script>

</body>
</html>